* {
	box-sizing: border-box;
}

body {
	background-color: #3c373e;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

p {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Roboto", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

a,
a:hover {
	text-decoration: none !important;
}

.content {
	padding: 7rem 0;
}

.custom-table {
	min-width: 900px;
}

.custom-table thead tr,
.custom-table thead th {
	padding-bottom: 15px;
	border-top: #197e81;
	border-bottom: none !important;
	color: #353535;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

.custom-table tbody th,
.custom-table tbody td {
	color: #777;
	font-weight: 400;
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: 300;
	border: 0.1px #197e81;
	border-style: dotted;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.custom-table tbody th small,
.custom-table tbody td small {
	color: rgba(255, 255, 255, 0.3);
	font-weight: 300;
}

.custom-table tbody th a,
.custom-table tbody td a {
	color: rgba(255, 255, 255, 0.3);
}

.custom-table tbody th .more,
.custom-table tbody td .more {
	color: rgba(255, 255, 255, 0.3);
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

.custom-table tbody tr {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.custom-table tbody tr:hover td,
.custom-table tbody tr:focus td {
	color: #fff;
}

.custom-table tbody tr:hover td a,
.custom-table tbody tr:focus td a {
	color: #fdd114;
}

.custom-table tbody tr:hover td .more,
.custom-table tbody tr:focus td .more {
	color: #fdd114;
}

.custom-table .td-box-wrap {
	padding: 0;
}

.custom-table .box {
	background: #197e81;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.custom-table .box td,
.custom-table .box th {
	border: none !important;
}


header {
	background-color: #333;
	height: 6em;
	color: #EEE;
	margin-bottom: -1em;
}

header h1 {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}

header h2 {
	font-size: 2.5em;
	display: inline-block;
	vertical-align: baseline;
	margin: 0 auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 45%;
	height: 100%;
	margin-top: 15px;
	margin-left: 28%;
	margin-right: 40px;
}

header .container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.container-img {
	width: 40%;
	height: 400px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-left: 480px;
}

.container {
	float: right;
   	width: 51%;
    	height: 100%;
    	margin-right: 25px;
}

.container-2 {
	float: right;
    	width: 45%;
    	height: 100%;
    	margin-right: 26px;
}

.container-tabela {
	float: left;
	height: 50%;
	width: 50%;
	margin-left: 0px;

}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}

select.form-control:focus::-ms-value {
	color: #495057;
	background-color: #fff;
}

.form-control-file,
.form-control-range {
	display: block;
	width: 100%;
}

.form-select {
	--bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	display: block;
	width: 95.5%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #dee2e6;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
	padding-right: 0.75rem;
	background-image: none;
}

.form-select:disabled {
	background-color: var(--bs-secondary-bg);
}

.form-select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 var(--bs-body-color);
}

section {
	margin: 2em 0;
	overflow: hidden;
}

section h2 {
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #EEE;
	margin-bottom: .5em;
	text-shadow: 2px 2px #197e81;
}

table {
	width: 100%;
	margin-bottom: .5em;
	table-layout: fixed;
	border: #197e81;
}

td,
th {
	padding: .7em;
	margin: 0;
	border: 4px solid #197e81;
	text-align: center;
}

th {
	font-weight: bold;
	background-color: #EEE;
}

label {
	font-size: 17px;
	color: #197e81;
	display: block;
	margin-bottom: .2em;
}

.campo {
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 95.5%;
}

.campo-medio {
	display: inline-block;
	padding-right: .5em;
}

.grupo {
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.provisorio {
	display: inline-block;
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 6.5rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
	color: #212529;
	text-decoration: none;
}

.btn:focus,
.btn.focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


.campo-invalido {
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro>li {
	color: red;
	font-size: 15px;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 220px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}
